.getToKnowUs , .aboutWelcome {
    width: 80%;
    margin: auto;
}

.getToKnowUs div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
}

.getToKnowUs > h3, .getToKnowUs > p {
    text-align: center;
    padding: 5px;
}

.aboutWelcome {
    text-align: center;
}

.aboutWelcome p {
    padding: 5px 0;
}

footer {
    margin-top: 60px;
}

h3 , h4 {
    color: #142850;
}